.body{ 
    background-image: url('R.jpg');
    background-size: cover;
    background-position: center;

}
body {
    background-image: url('MINECRAFT.jpg');
    background-size: cover;      /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen en la página */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto del body */
}
body {
    margin: 2cm;            /* Deja un margen de 2 cm desde el borde de la página */
    text-align: center;     /* Centra el texto dentro del body */
}

h1 {
    font-size: 2em;         /* Tamaño de fuente para el encabezado */
              /* Color del texto del encabezado */
}

input[type="file"] {
    position: relative;
    bottom: 2cm; /* Posiciona el input a 2 cm del fondo */
    margin-left: auto;
    margin-right: auto;
    display: block; /* Centra horizontalmente */
}
.green-button {
    background-color: rgb(126, 206, 126); /* Color de fondo del botón */
    color: white;
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor cuando pasas sobre el botón */
    font-size: 16px; /* Tamaño de la fuente */
    font-family:MINECRAFT sans-serif;
    transition: color 0.3s, background-color 0.3s;
}


.green-button:hover {
    background-color: rgb(23, 164, 23); /* Color de fondo cuando se pasa el ratón */
    color: black; /* Color del texto */
}