.contenedor{
    background-color: aqua;
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
}
.contenedor1 {
    background-color: rgb(39, 110, 110);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    justify-content: flex-start;
}
.contenedor_2{
    background-color: rgb(63, 206, 44);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.contenedor_3 {
    background-color: rgb(199, 57, 163);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    justify-content: center;
}
.contenedor_4 {
    background-color: rgb(197, 171, 24);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    justify-content: space-between;
}
.contenedor_5{
    background-color: rgb(136, 135, 128);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    align-items: stretch;
    height: 500px;
}
.contenedor_6{
    background-color: rgb(38, 68, 131);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    align-items: baseline;
    height: 500px;
}
.contenedor_7{
    background-color: rgb(100, 34, 37);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    align-items: center;
    height: 500px;
}
.contenedor_8{
    background-color: rgb(58, 57, 53);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    align-items: flex-end;
    height: 500px;
}
.contenedor_9{
    background-color: rgb(102, 95, 39);
    padding: 5px;
    border: 1px solid navy;
    display: flex;
    align-items: flex-start;
    height: 500px;
}


.box {
    border: 3px solid rgb(0, 0, 0);
    font-size: 30px;
    text-align: center;
    margin: 15px;
    width: 100px;
    height: 100 px;

}

