body {
    background-image: url('minecarft2.0\ \(2\).png');
    background-size: cover;      /* Ajusta la imagen para que cubra todo el fondo */
    background-position: center; /* Centra la imagen en la página */
    background-attachment: fixed;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
    margin: 0; /* Elimina el margen por defecto del body */
}
.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0b0b0b;
}

header {
    background-color: #333;
    color: #343333;
    padding: 2px 0;
    text-align: center;
}

header img {
    max-width: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #141313;
    text-decoration: none;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

td {
    border-bottom: 1px solid #ddd;
}

footer {
    background-color: #4e4e4e;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

blockquote {
    border-left: 5px solid #3a3737;
    margin: 1px auto;
    padding: 5px 10px;
    background-color: #1e1c1c;
    font-style: italic;
    max-width: 80%;
    text-align: center;
}

figure {
    text-align: center;
    margin: 20px 0;
}

figure img {
    max-width: 100%;
    height: auto;
}

.game-info {
    text-align: center;
    margin: 20px;
}